/* global selectors */
body {
  z-index: 1;
  background-color: #d6c8c8;


}

.page-width {
  width: 1228px;
  margin: 0 auto;

}

/* navbar selector */
.nav-padding {
  padding: 5px 18%;
}

.animate-cursor {
  width: 10px;
  height: 1rem;
  background-color: orange;
  border-radius: 1px;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* bgheader */

.bg-header {
  position: absolute;
  z-index: 0;
  height: 300px;
  width: 100%;
}

/* main body */
.resume-body {
  top: 100px;
  position: relative;
  z-index: 2;
  padding: 24px;
  background-color: white;
  margin: 0 auto;
}

/* resume head */
.resume-head {}

.profile-photo {
  max-width: 377px;
}

.intro-card {
  padding-top: 18px;
  padding-left: 18px;
}

.skillbox {
  padding: 3px;
  color: #495469;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  border: 1px solid #dfe3e9;
  border-radius: 12px;

}

.top-name {

  letter-spacing: .2px;
  font-size: 34px;
}

.current-title {}

.top-skill {
  height: 330px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: purple;
  }

  .page-width {
    max-width: 600px;
  }

  .profile-photo {
    max-width: 180px;
  }

  .top-skill {
    height: 200px;
  }

  .top-name {
    letter-spacing: .2px;
    font-size: 24px;
  }

  .current-title {
    font-size: 14px;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-color: red;
  }

  .nav-padding {
    padding: 5px 12%;

  }

  .page-width {
    max-width: 800px;
  }

  .profile-photo {
    max-width: 250px;
  }

  .top-skill {
    height: 200px;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-color: blue;
  }

  .page-width {
    max-width: 1228px;
  }
}