body {
  background-color: #EEEEEE;
  font-family: 'Noticia Text', serif;
  text-align: center;
}

/* pallette */
/*
color 1: #FFFFFF
color 2: #EEEEEE
color 3: #846A6A
color 4: #011C27
color 5: #000000
*/
/* container */
.colored-section {
  background-color: #846A6A;
  color: white;
  margin: 0 auto;
  max-width: 65rem;
}

.title-name {
  font-size: 2rem;
}

.alt-colored-section{
  background-color: #011C27;
  color: white;
  margin: 0 auto;
  max-width: 65rem;
}

.noncolored-section {
  background-color: #FFF;
  margin: 0 auto;
  max-width: 65rem;
}


/* section */
.section-title {
  text-align: left;
  font-size: 2rem;
}

/* navigation-bar */
.cover-container {
  margin: 0 auto;
  max-width: 65rem;
}

.nav-link {
  padding: 0 5%;
}

.nav-bar-photo {
  width: 64px;
}

.title-subtitle {
  color: grey;
  font-size: 14px;
}

.name-card {
  text-align: left;
}

/* introduction section */
#introduction {}

.title-box {
  line-height: 1.5;
  padding: 7% 13%;
  position: relative;
}

.greeting {
  font-family: 'Patrick Hand', cursive;
  font-size: 5rem;
}

.greeting-subtitle {
  font-family: 'Noticia Text', serif;
  font-size: 2rem;
}


.intro-header {
  text-align: left;
}

/* about talk */
.section-container {
  padding: 7% 15%;
}

.section-alt-container {
  padding: 7%;
}

/* skills-section */
#skills {
  position: relative;
}

.list-card {
  background-color: red;
  display: inline-block;
}

.skill-item {
  border-radius: .25rem;
  font-weight: 700;
  padding: .25em .4em;
  text-align: center;
  vertical-align: baseline;
  background-color: #343a40;
}

.skills-list {
  color: black;
  margin: 0 auto;
  width: 10rem;
}

.col-skills {
  font-size: 1.1rem;
  margin: 1%;
  max-width: 20%;
}

.skills-row {
  padding-left: 5%;
}

.skill-col {
  flex-grow: 0;
  flex-wrap: wrap-reverse;
}

.list-size {
  display: inline-inline-block;
  font-size: 1.5rem;
  margin: auto;
}

.list-group-item {
  background-color: inherit;
  border: 0;
}

/* footer */

#footer{
  padding: 3% 10% 3%;
}

.links a{
  text-decoration: none;
  color: #011C27;
  font-size: 1.5rem;
}

#footer p{
  color: grey;
  font-size: 14px;
  padding-top:1%;
}

.btn-mobile{
  font-size: 1rem;
}
/*
@media(min-width: 800px) {
  .greeting {
    font-size: 5rem;
  }

  .title-box {
    font-size: 2rem;
  }
  .title-name {
    font-size: 4rem;
  }

  .title-subtitle {
    text-align: center;
  }

   .intro-header{
    font-size: 2rem;
  }
  .section-title {
    text-align: center;
    font-size: 4rem;
  }

  p{
    font-size: 2.5rem;
  }

  .col-skills{
   font-size: 1.5rem;
  }

  .btn-mobile{
    font-size: 2rem;
  }

  .links a{
    font-size: 2rem;
  }

  .nav-bar-photo {
    width: 128px;

  }

  .title-name{
    font-size: 2rem;
  }
  .title-subtitle{
    font-size: 1.5rem;
  }
} */
