.animate-cursor {
  width: 10px;
  height: 1rem;
  background-color: orange;
  border-radius: 1px;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.brand-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}
.nav-padding {
  background: white;
  padding: 5px 2%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
