/* RESPONSIVENESS */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .mobile-size {
      padding: 0;
    }
    .experience-list {
      padding: 0;
    }
    .nav-padding {
      padding: 5px 4%;
    }
    .skillbox {
      font-size: 13px;
      padding: 5px;
    }
    h3 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 16px;
      text-decoration: underline;
    }
  
    .top-name {
      font-size: 24px;
    }
  
    .profile-photo {
      width: 103px;
      padding-top: 20px;
    }
  
    .employment-item {
      padding-left: 0;
      position: static;
    }
  
    .employment-item::after {
      border-left: 0px dashed #8f96a3;
    }
  
    .mobile-row {
      padding-top: 20px;
      margin-right: 0;
      margin-left: 0;
    }
  }
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* for media queries */
    /* body { 
      background-color: teal;
    } */
  
    h3 {
      font-size: 18px;
    }
  
    h4 {
      font-size: 16px;
      text-decoration: underline;
    }
    .nav-padding {
      padding: 5px 8%;
    }
    .page-width {
      max-width: 750px;
    }
  
    .mobile-size {
      padding: 0;
    }
  
    .resume-body {
      padding: 12px;
    }
  
    .skillbox {
      font-size: 12px;
      padding: 4px;
    }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .page-width {
      max-width: 800px;
    }
  
    .profile-photo {
      max-width: 180px;
    }
  
    .top-skill {
      height: 200px;
    }
  
    .top-name {
      letter-spacing: 0.2px;
      font-size: 24px;
    }
  
    .top-subtitle {
      font-size: 14px;
    }
  }
  
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199px) {
    .nav-padding {
      padding: 5px 12%;
    }
  
    .page-width {
      max-width: 850px;
    }
  
    .profile-photo {
      max-width: 250px;
    }
  
    .top-skill {
      height: 200px;
    }
  }
  
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .nav-padding {
      padding: 5px 18%;
    }
  
    .page-width {
      max-width: 1228px;
    }
  }